@font-face {
   font-family: 'Gula FREE';
   font-display: swap;
   src: url('file:///C:/Users/Administrator/AppData/Local/Mobirise.com/Mobirise/projects/project-2019-10-16_111045/fonts/Gula%20FREE/font.ttf');
}
